.uxtools-trait-message
{
	flex-direction: column;
}

.uxtools-trait-message--side
{
	flex-direction: row;
}

.uxtools-trait-message--side > *
{
	flex-grow: 1;
}

.uxtools-trait-message__message-box
{
}

.uxtools-trait-message__message-box--above
{
}

.uxtools-trait-message__message-box--below
{
}

.uxtools-trait-message__message-box--left
{
	margin-right: 0px;
}

.uxtools-trait-message__message-box--right
{
	margin-left: 0px;
}