.uxtools-validate
{
	flex-direction: column;
}

.uxtools-validate--side
{
	flex-direction: row;
}

.uxtools-validate--side > *
{
	flex-grow: 1;
}

.uxtools-validate__button
{
}

.uxtools-validate__message--above
{
}

.uxtools-validate__message--below
{
}

.uxtools-validate__message--left
{
	margin-right: 0px;
}

.uxtools-validate__message--right
{
	margin-left: 0px;
}