.uxtools-trait-button
{
	flex-direction: column;
}

.uxtools-trait-button--side
{
	flex-direction: row;
}

.uxtools-trait-button--side > *
{
	flex-grow: 1;
}

.uxtools-trait-button--side > IconButton
{
	flex-grow: 0;
	align-self: center;
}

.uxtools-trait-button__button
{
}

.uxtools-trait-button__button--above
{
}

.uxtools-trait-button__button--below
{
}

.uxtools-trait-button__button--left
{
	margin-right: 0px;
}

.uxtools-trait-button__button--right
{
	margin-left: 0px;
}