.uxtools-tabs__content
{
	background-color: #555555;
	border-color: #222222;
}

.uxtools-tabs__tab
{
	background-color: #404040;
	border-color: #000000;
}

.uxtools-tabs__tab--selected
{
	background-color: #555555;
}
